parameters:
	google:
		clientId: 201388687586-0f75tqn1vg0rn6k3ol547fom9puiftd0.apps.googleusercontent.com
		clientSecret: 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


database:
	dsn: 'mysql:host=127.0.0.1;port=3306;dbname=food-order'
	user: root
	password: root



