{block content}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>OSSP jídelna</h1>
        <a n:href="googleLogin!" class="google-login">Přihlásit se přes Google</a>
    </div>
</div>

{/block}

{block title}
    Přihlášení
{/block}